.userbg {
    background-image:    url("../../img/register.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.b-t{
    border-top: 2px solid #00356b;
}
.not-allowed{
    cursor: not-allowed! important;
       
   }